<footer>

    <div class="termsandc">
        <div>&copy;Globe Trot</div>
        <div>Privacy·Terms·Conditions</div>
    </div>

    <div style="text-align: center;">
        Made with &hearts; by bbs
    </div>

    <div class="contact">
        <div><i class="fa-light fa-globe"></i>&nbsp;English(IN)&nbsp;&nbsp;&nbsp;₹ INR</div>
        <div></div>
        <div class="social-media">
            <div><i class="fa-brands fa-facebook"></i></div>
            <div><i class="fa-brands fa-instagram"></i></div>
            <div><i class="fa-brands fa-x-twitter"></i></div>
        </div>
    </div>
    
</footer>