<% layout("layout/boilerplate.ejs") %>


        <div class="alert alert-danger" role="alert">
            <i class="fa-solid fa-triangle-exclamation"></i>
            <%= message %>
        </div>
    